<template>
    <div class="main-wrapper">
        <div class="contact-image-wrapper">
            <img class="contact-image" :src="getImgUrl(studio.path)" :alt="logo.alt">
        </div>

        <h1 class="main-title">Kontakt</h1>

        <div class="contact-details-wrapper">
            <div class="google-maps-wrapper"></div>

            <div class="contact-details">
                <div class="logo-wrapper">
                    <img class="logo-image" :src="getImgUrl(logo.path)" :alt="studio.alt">
                </div>
                <p>{{ contact.name }} {{ contact.surname }}</p>

                <p>Numer telefonu: {{ contact.phone }}</p>

                <p>Adres e-mail: {{ contact.contactEmail }}</p>

                <p>Adres: {{ contact.address }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [ 'contact', 'logo', 'studio'],
        methods: {
            getImgUrl (img) {
                const images = require.context('../../assets/', false, /\.jpg|png$/)

                return images('./' + img)
            }
        }
    }
</script>

<style lang="scss">
    .contact-image-wrapper {
        height: 40vh;

        background:#CACACA;
    }

    .contact-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .contact-details-wrapper {
        display: flex;
        flex-direction: row;
    }

    .google-maps-wrapper {
        $image-wrapper-edge: 640px;

        width: $image-wrapper-edge;
        height: $image-wrapper-edge/1.618;

        background: #000;
    }

    .contact-details {
        margin: 0 auto;

        text-align: center;
    }

    .logo-wrapper {
        $logo-wrapper-width: 325px;

        width: $logo-wrapper-width;
        height: $logo-wrapper-width/1.618;

        margin: 0 auto 20px;

        background: #000;
    }

    .logo-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    @media (max-width: 1600px) {
        .google-maps-wrapper {
            $image-wrapper-edge: 40vw;

            width: $image-wrapper-edge;
            height: $image-wrapper-edge/1.618;

            background: #000;
        }

        .logo-wrapper {
            $logo-wrapper-width: 20vw;

            width: $logo-wrapper-width;
            height: $logo-wrapper-width/1.618;

            margin: 0 auto 20px;

            background: #000;
        }
    }

    @media (max-width: 1000px) {
        .contact-details-wrapper {
            display: flex;
            flex-direction: column-reverse;
        }

        .logo-wrapper {
            $logo-wrapper-width: 50vw;

            width: $logo-wrapper-width;
            height: $logo-wrapper-width/1.618;

            margin: 0 auto 20px;

            background: #000;
        }

        .contact-details {
            margin: 0 auto 40px;;

            text-align: center;
        }

        .google-maps-wrapper {
            $image-wrapper-edge: 90vw;

            width: $image-wrapper-edge;
            height: $image-wrapper-edge/1.618;

            margin: 0 auto;

            background: #000;
        }
    }

</style>
