<template>
    <section class="section-wrapper">
        <h1 class="main-title">O mnie</h1>

        <div class="about-wrapper">
            <div class="main-image-wrapper">
                <img :src="getImgUrl(brandImage.path)" :alt="brandImage.alt">
            </div>
            <div class="about-description-wrapper">
                <p>{{ about.personalCharacteristics }}</p>

                <h2 class="about-title">Moje specjalizacje:</h2>

                <ul>
                    <li class="category-list-item" v-for="category in categories" :key="category.id">
                        <strong>{{ category.name }}</strong> - {{ category.description }}
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: [ 'about', 'categories', 'brandImage'],
        methods: {
            getImgUrl (img) {
                const images = require.context('../../assets/', false, /\.jpg|png$/)

                return images('./' + img)
            }
        }
    }
</script>

<style lang="scss">

    .section-wrapper {
        width: 100%;
    }

    .about-wrapper {
        display: flex;

        flex-direction: row;
    }

    .main-image-wrapper {
        $image-wrapper-edge: 560px;

        width: $image-wrapper-edge;
        height: $image-wrapper-edge;

        background: #CACACA;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .about-title {
        padding: 12px 0;
    }

    .about-description-wrapper {
        width: 700px;

        margin: 0 auto;
    }

    .category-list-item {
        margin-bottom: 10px;
    }

    @media (max-width: 1600px) {

        .main-image-wrapper {
            $image-wrapper-edge: 35vw;

            width: $image-wrapper-edge;
            height: $image-wrapper-edge;
        }

        .about-description-wrapper {
            width: 43vw;
        }
    }

    @media (max-width: 1000px) {
        .about-wrapper {
            flex-direction: column;
        }

        .main-image-wrapper {
            $image-wrapper-edge: 50vw;

            width: $image-wrapper-edge;
            height: $image-wrapper-edge;

            margin: 0 auto 50px;
        }

        .about-description-wrapper {
            width: 80vw;
        }
    }

</style>
