<template>
    <app-section-contact
        :contact="contact"
        :logo="logo"
        :studio="studio"
    ></app-section-contact>
</template>

<script>
    import SectionContact from "../components/SectionContact/SectionContact";

    export default {
        components: {
            appSectionContact: SectionContact
        },
        data () {
            return {
                contact: {
                    name: 'Jan',
                    surname: 'Kowalski',
                    contactEmail: 'jan.kowalski@gmail.com',
                    phone: '123-123-123',
                    address: 'Lublin, ul.Jakaśprzykładowa 29/3'
                },
                logo: {
                    path: 'logo.png',
                    alt: 'Logo'
                },
                studio: {
                    path: 'photo-studio.jpg',
                    alt: 'Studio'
                }
            }
        }
    }

</script>
