<template>
    <app-section-gallery></app-section-gallery>
</template>

<script>

import SectionGallery from "../components/SectionGallery/SectionGallery";

export default {
    components: {
        appSectionGallery: SectionGallery
    }
}

</script>
