<template>
    <app-section-offer :offers="offers"></app-section-offer>
</template>

<script>
    import SectionOffer from "../components/SectionOffer/SectionOffer";

    export default {
        data () {
            return {
                offers: [
                    {
                        title: 'Fotografia',
                        description: 'Quisque faucibus eget elit id finibus. Vivamus nibh dolor, posuere id pretium a, gravida vitae orci. Quisque ipsum lacus, commodo eget tincidunt ultricies, venenatis at odio. Mauris facilisis risus ornare accumsan elementum. Vivamus eu justo pulvinar dolor volutpat ornare. In hac habitasse platea dictumst. Fusce quis elit sit amet ex suscipit dictum non vel urna. Donec lobortis ut tortor id aliquam. Sed commodo dui eros, eu rutrum dui tempor non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent non volutpat diam.',
                        image: {
                            path: 'acting.jpg',
                            alt: 'Fotografia'
                        }
                    },
                    {
                        title: 'Wywoływanie zdjęć',
                        description: 'Quisque faucibus eget elit id finibus. Vivamus nibh dolor, posuere id pretium a, gravida vitae orci. Quisque ipsum lacus, commodo eget tincidunt ultricies, venenatis at odio. Mauris facilisis risus ornare accumsan elementum. Vivamus eu justo pulvinar dolor volutpat ornare. In hac habitasse platea dictumst. Fusce quis elit sit amet ex suscipit dictum non vel urna. Donec lobortis ut tortor id aliquam. Sed commodo dui eros, eu rutrum dui tempor non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent non volutpat diam.',
                        image: {
                            path: 'alone.jpg',
                            alt: 'Wywoływanie zdjęć'
                        }
                    },
                    {
                        title: 'Renowacja zdjęć',
                        description: 'Quisque faucibus eget elit id finibus. Vivamus nibh dolor, posuere id pretium a, gravida vitae orci. Quisque ipsum lacus, commodo eget tincidunt ultricies, venenatis at odio. Mauris facilisis risus ornare accumsan elementum. Vivamus eu justo pulvinar dolor volutpat ornare. In hac habitasse platea dictumst. Fusce quis elit sit amet ex suscipit dictum non vel urna. Donec lobortis ut tortor id aliquam. Sed commodo dui eros, eu rutrum dui tempor non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent non volutpat diam.',
                        image: {
                            path: 'old-photos.jpg',
                            alt: 'Renowacja zdjęć'
                        }
                    }
                ]
            }
        },
        components: {
            appSectionOffer: SectionOffer
        },
    }
</script>
