<template>
    <div class="main-wrapper">
        <app-slider
            :categories="categories"
        ></app-slider>

        <app-section-about
            :about="about"
            :categories="categories"
            :brandImage="brandImage"
        ></app-section-about>
    </div>
</template>

<script>
    import Slider from '@/components/Slider/Slider.vue'
    import SectionAbout from "@/components/SectionAbout/SectionAbout";

    export default {
        data () {
            return {
                brandImage: {
                    path: 'fotograf.jpg',
                    alt: 'To ja'
                },
                about: {
                    personalCharacteristics: 'Nazywam się Jan Kowalski. Lorem ipsum dolor sit amet, consectetur' +
                        ' adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut' +
                        ' enim ad min im veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea' +
                        ' commodo consequat.'
                },
                categories: [
                    {
                        id: 'd68b0237-8c2d-4615-b7d3-8614a997ff7c',
                        name: 'Fotografia okolicznościowa',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, se d do ' +
                            'eiusmod tempor incididunt ut labore et dolore magna aliqua.',
                        images: [
                            {
                                id: '787f3c3c-75f9-4267-b8f9-9d3848fe000d',
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            }
                        ]
                    },
                    {
                        id: '22b81308-6a17-469f-b9c8-5b83d49b5782',
                        name: 'Fotografia produktowa',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod' +
                            ' tempor incididunt ut labore et dolore magna aliqua.',
                        images: [
                            {
                                id: '3403e569-2bb1-4143-b782-c7bbc15c2b82',
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            }
                        ]
                    },
                    {
                        id: 'c2408e88-17c9-43d9-bac5-6f4521f46da2',
                        name: 'Fotografia wizerunkowa',
                        description: 'Lorem ipsum dolor sit amet, consectetu elit, sed do eiusmod tempor incididunt ' +
                            'ut labore et dolore magna aliqua.',
                        images: [
                            {
                                id: 'e3e58251-6c89-4317-9f68-143219a169ba',
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            }
                        ]
                    }
                ]
            }
        },
        components: {
            appSlider: Slider,
            appSectionAbout: SectionAbout
        }
    }

</script>
