<template>
    <nav class="nav">
        <div class="nav-logo-image-wrapper">
            <img class="nav-logo-image" src="../assets/logo.png" alt="">
        </div>

        <div class="portrait-image-wrapper">
            <img class="portrait-image" src="../assets/face.jpg" alt="">
        </div>

        <div class="links-wrapper">
            <router-link  class="link" to="/" @click.native="scrollToTop">O mnie</router-link>
            <router-link  class="link" to="/offer" @click.native="scrollToTop">Oferta</router-link>
            <router-link  class="link" to="/gallery" @click.native="scrollToTop">Galeria</router-link>
            <router-link  class="link" to="/contact" @click.native="scrollToTop">Kontakt</router-link>
        </div>

        <footer class="footer">
            <p>Wojciech Januszek</p>
            <p>All rights reserved</p>
        </footer>
    </nav>
</template>

<script>

    export default {
        data () {
            return {
                logo: {
                    path: '',
                    alt: ''
                },
                portrait: {
                    path: '',
                    alt: ''
                }
            }
        },
        methods: {
            scrollToTop () {
                window.scrollTo(0, 0)
            }
        }
    }

</script>

<style lang="scss">

    $nav-width: 200px;

    .nav {
        position: sticky;

        top: 0;

        width: 100%;
        height: 100vh;

        font-size: 17px;

        color: #FFFFFF;
        font-weight: bold;

        background: #000;
    }

    .nav-logo-image-wrapper {
        width: $nav-width;
        height: $nav-width/1.9;

        background: #CACACA;
    }

    .nav-logo-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .portrait-image-wrapper {
        $portrait-image-width: $nav-width/1.7;

        width: $portrait-image-width;
        height: $portrait-image-width;

        margin: 4vh auto;

        border: 3px solid #FFFFFF;

        border-radius: 50%;

        background: #CACACA;

        overflow: hidden;
    }

    .portrait-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .links-wrapper {
        display: flex;

        flex-direction: column;
        align-items: center;

        overflow: hidden;
    }

    .link {
        width: 100%;

        margin: 1vh 0;

        text-align: center;
    }

    .link:after, .router-link-exact-active:after {
        content: "";

        position: relative;

        top: 3px;

        display: block;

        margin: 0 auto;

        width: 100%;
        transform: translateX(30%);
        height: 1px;

        background-color: #FFFFFF;

        transition: transform .3s;
    }

    .link:hover:after {
        transform: translateX(15%);
    }

    .router-link-exact-active:after, .router-link-exact-active:hover:after {
        transform: translateX(0);
    }

    .footer {
        position:absolute;

        bottom: 3vh;

        width: 100%;

        text-align: center;
    }

    @media (max-width: 1600px) {
        $nav-width: 12vw;

        .nav {
            width: 100%;
        }

        .nav-logo-image-wrapper {

            width: 100%;
            height: $nav-width/1.9;

            background: #CACACA;
        }

        .portrait-image-wrapper {
            $portrait-image-width: $nav-width/1.7;

            width: $portrait-image-width;
            height: $portrait-image-width;
        }
    }

    @media (max-width: 1200px) {
        .footer {
            font-size: 14px;
        }
    }

    @media (max-width: 999px) {
        .nav {
            display: none;
        }
    }

</style>
