<template>
    <header class="header">
        <transition name="fade">
            <nav v-show="showNav" class="nav">
                <div class="mobile-portrait-image-wrapper">
                    <img class="mobile-portrait-image" src="../assets/face.jpg" alt="">
                </div>

                <div class="mobile-links-wrapper">
                    <router-link to="/" @click.native="turnOffNav">O nas</router-link>
                    <router-link to="/offer" @click.native="turnOffNav">Oferta</router-link>
                    <router-link to="/gallery" @click.native="turnOffNav">Galeria</router-link>
                    <router-link to="/contact" @click.native="turnOffNav">Kontakt</router-link>
                </div>

                <footer class="footer">
                    <p>Wojciech Januszek</p>
                    <p>All rights reserved</p>
                </footer>
            </nav>
        </transition>

        <div class="nav-bar" v-bind:class="{ 'nav-bar-background': showNav }">
            <div class="header-logo-image-wrapper">
                <img class="header-logo-image" src="../assets/logo.png" alt="">
            </div>

            <div
                class="icon-wrapper"
                v-bind:class="{ 'nav-bar-background': !showNav }"
                @click="showNav = !showNav"
            >
                <img v-show="!showNav" class="icon" src="../assets/icons/hamburger-menu.svg" alt="menu">
                <img v-show="showNav" class="icon" src="../assets/icons/cross.svg" alt="menu">
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        data () {
            return {
                showNav: false,
                logo: {
                    path: '',
                    alt: ''
                },
                portrait: {
                    path: '',
                    alt: ''
                }
            }
        },
        methods: {
            turnOffNav () {
                window.scrollTo(0, 0)

                this.showNav = false
            }
        }
    }
</script>

<style lang="scss" scoped>

    $nav-width: 100%;
    $nav-bar-height: 12vh;
    $nav-color: rgba( #000000, 0.8);

    .header {
        z-index: 25;
    }

    .nav {
        display: none;

        flex-direction: column;
        align-items: center;

        position: fixed;

        top: 0;
        left: 0;

        width: $nav-width;
        height: 100vh - $nav-bar-height;

        text-align: center;
        font-size: 3.5vh;
        font-weight: bold;

        color: #FFFFFF;

        background:$nav-color;
    }

    .mobile-portrait-image-wrapper {
        $portrait-image-dimension: 20vh;

        width: $portrait-image-dimension;
        height: $portrait-image-dimension;

        margin: 3vh 0 6vh;

        border: 3px solid #FFFFFF;

        border-radius: 50%;

        background: #CACACA;

        overflow: hidden;
    }

    .mobile-portrait-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }



    .mobile-links-wrapper {
        display: flex;

        flex-direction: column;

        a {
            margin: 2vh 0;

            text-decoration: none;
        }
    }

    .footer {
        position:absolute;

        bottom: 3vh;

        text-align: center;

        font-size: 3vh;
    }

    .nav-bar {
        display: none;

        position: fixed;
        align-items: center;
        justify-content: space-between;

        left: 0;
        bottom: 0;

        width: $nav-width;
        height: $nav-bar-height;
    }

    .nav-bar-background {
        background: $nav-color;

        transition: opacity .2s;
    }

    .header-logo-image-wrapper {
        width: $nav-bar-height*1.9;
        height: $nav-bar-height;

        background: #CACACA;
    }

    .header-logo-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .icon-wrapper {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: $nav-bar-height;
        height: $nav-bar-height;

        cursor: pointer;

        color: #FFFFFF;
    }

    .icon {
        $icon-dimension: 7vh;

        height: $icon-dimension;
        width: $icon-dimension;
    }

    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity .2s;
    }

    .fade-leave-active {
        opacity: 0;

        transition: opacity .2s;
    }

    @media (max-width: 999px) {
        .nav-bar {
            display: flex;
        }

        .nav {
            display: flex;
        }
    }

    @media (min-width: 751px) {
        .links-wrapper {
            display: flex;
        }
    }

    @media (max-width: 750px) {
        .icons-wrapper {
            display: flex;
        }
    }

</style>
