<template>
    <div class="slider-wrapper">
        <transition-group name="faded" tag="div">
            <img
                v-for="(image, index) in categoryImages"
                :key="image.path"
                class="slider-image"
                :src="getImgUrl(image.path)"
                :alt="image.alt"
                ref="sliderImages"
                v-show="showStatuses[index]"
            >
        </transition-group>

        <div class="buttons-wrapper">
            <button
                type="button"
                class="slider-button"
                v-for="(category, index) in categoryNames"
                ref="sliderButtons"
                :key="category.name"
                @click="showCurrentCategoryImage(index)"
            >
                {{ category.name }}
            </button>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                currentActiveImage: 0,
                showStatuses: {},
                categoryNames: [
                    {
                        name: 'Fotografia okolicznościowa',
                        imageId: 'd68b0237-8c2d-4615-b7d3-8614a997ff7c'
                    },
                    {
                        name: 'Fotografia produktowa',
                        imageId: '22b81308-6a17-469f-b9c8-5b83d49b5782'
                    },
                    {
                        name: 'Fotografia wizerunkowa',
                        imageId: 'c2408e88-17c9-43d9-bac5-6f4521f46da2'
                    }
                ],
                categoryImages: [
                    {
                        id: 'd68b0237-8c2d-4615-b7d3-8614a997ff7c',
                        path: 'sydney.jpg',
                        alt: 'Fajerwerki'
                    },
                    {
                        id: '22b81308-6a17-469f-b9c8-5b83d49b5782',
                        path: 'gold-jewelry.jpg',
                        alt: 'Pierścionek'
                    },
                    {
                        id: 'c2408e88-17c9-43d9-bac5-6f4521f46da2',
                        path: 'business-lady.jpg',
                        alt: 'Kobieta biznesu'
                    },
                ],
            }
        },
        methods: {
            showCurrentCategoryImage (index) {
                if (this.getCurrentImage().classList.contains('faded-enter-to')) {
                    return
                }

                this.removeActiveImageClass()
                this.addActiveImageClass(index)

                this.removeActiveButtonClass()
                this.addActiveButtonClass(index)

                this.hidePreviousImage()

                this.showCurrentImage(index)

                this.setCurrentActiveImage(index)
            },
            getImgUrl (img) {
                const images = require.context('../assets/', false, /\.jpg|png$/)

                return images('./' + img)
            },
            getCurrentImage () {
                return this.$refs.sliderImages[this.currentActiveImage]
            },
            removeActiveImageClass () {
                this.getCurrentImage().classList.remove('active-image')
            },
            addActiveImageClass (index) {
                this.$refs.sliderImages[index].classList.add('active-image')
            },
            removeActiveButtonClass () {
                this.$refs.sliderButtons[this.currentActiveImage].classList.remove('active-button')
            },
            addActiveButtonClass (index) {
                this.$refs.sliderButtons[index].classList.add('active-button')
            },
            setCurrentActiveImage (index) {
                this.currentActiveImage = index
            },
            hidePreviousImage () {
                this.showStatuses[this.currentActiveImage] = false
            },
            showCurrentImage (index) {
                this.showStatuses[index] = true
            }
        },
        created(){
            let statusesObject = {}

            for(let i = 0; i < 3; i++) {
                statusesObject = {
                    ...statusesObject,
                    ...{
                        [i]: false
                    }
                }
            }

            statusesObject[0] = true

            this.showStatuses = statusesObject
        },
        mounted() {
            this.$refs.sliderButtons[0].classList.add('active-button')
        }
    }

</script>

<style lang="scss" scoped>

    .slider-wrapper {
        $slider-width: 1400px;

        position: relative;

        width: $slider-width;
        height: $slider-width/2.5;

        background:#CACACA;
    }

    .slider-image {
        position: absolute;

        width: 100%;
        height: 100%;

        object-fit: cover;

        z-index: 1;
    }

    .active-image {
        z-index: 5;
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;

        position: absolute;

        width: 100%;

        bottom: 0;

        background: rgba(0, 0, 0, 0.7);

        z-index: 5;
    }

    .slider-button {
        width: 210px;
        box-sizing: border-box;

        margin: 12px 0;
        padding: 3px 0 6px 0;

        border: none;

        font-family: ElegantLux-Mager, Times, serif;
        font-size: 18px;
        color: #FFFFFF;

        background: rgba(0, 0, 0, 0);

        cursor: pointer;
    }

    .slider-button:after, .active-button:after {
        content: "";

        position: relative;

        top: 5px;

        display: block;

        margin: 0 auto;

        width: 25%;
        height: 1px;

        background-color: #FFFFFF;

        transition: transform .3s;
    }

    .slider-button:hover:after {
        transform: scaleX(2);
    }

    .active-button:after, .active-button:hover:after {
        transform: scaleX(4);
    }

    .faded-enter {
        opacity: 0;
        z-index: 5;
    }

    .faded-enter-active {
        z-index: 5;

        transition: opacity .25s;
    }

    .faded-leave {
        opacity: 1;
    }

    .faded-leave-active {
        opacity: 1;

        transition: .25s;
    }

    @media (max-width: 1600px) {
        .slider-wrapper {
            width: 100%;
        }
    }

    @media (max-width: 800px) {
        .buttons-wrapper {
            top: 0;
            right:0;

            flex-direction: column;

            align-items: center;

            width: 150px;
        }

        .slider-button {
            width: 135px;
        }
    }

</style>
