<template>
    <section class="main-wrapper">
        <h1 class="main-title">Galeria</h1>

        <app-tab></app-tab>
    </section>
</template>

<script>
    import Tab from "../Tab/Tab";

    export default {
        components: {
            appTab: Tab
        },
    }
</script>
