<template>
    <div class="category-buttons">
        <button
            type="button"
            class="category-button"
            v-for="(categoryName, categoryNumber) in categoryNames"
            :key="categoryName.name"
            ref="galleryButtons"
            @click="changeCategory(categoryNumber)"
        >
            {{ categoryName.name }}
        </button>
    </div>
</template>

<script>
    export default {
        props: [ 'categoryNames' , 'galleryNumber' ],
        methods: {
            changeCategory (selectedCategoryNumber) {
                this.removeActiveButtonClass()
                this.addActiveButtonClass(selectedCategoryNumber)

                this.$emit('galleryNumberHasChanged', selectedCategoryNumber)
            },
            removeActiveButtonClass () {
                this.$refs.galleryButtons[this.galleryNumber].classList.remove('active-button')
            },
            addActiveButtonClass (selectedCategoryNumber) {
                this.$refs.galleryButtons[selectedCategoryNumber].classList.add('active-button')
            },
        },
        mounted() {
            this.$refs.galleryButtons[0].classList.add('active-button')
        }
    }
</script>

<style scoped lang="scss">

    .category-buttons {
        display: flex;

        justify-content: center;

        margin-bottom: 15px;
    }

    .category-button {
        border: none;

        padding: 5px 10px;
        width: 210px;

        font-family: ElegantLux-Mager, Times, serif;
        font-size: 18px;

        background: #FFFFFF;
        cursor: pointer;
    }

    .category-button:after, .active-button:after {
        content: "";

        position: relative;

        top: 5px;

        display: block;

        margin: 0 auto;

        width: 25%;
        height: 1px;

        background-color: #000000;

        transition: transform .3s;
    }

    .category-button:hover:after {
        transform: scaleX(2);
    }

    .active-button:after, .active-button:hover:after {
        transform: scaleX(4);
    }

    @media (max-width: 720px) {
        .category-buttons {
            flex-direction: column;

            align-items: center;
        }

        .category-button {
            margin-bottom: 20px;
        }
    }

</style>
