<template>
    <div  class="dropdown">
        <div class="dropdown-input-wrapper">
            <input
                class="dropdown-input"
                ref="dropdownInput"
                v-model="currentCategory"
                @click="toggleDropdownStatus"
                type="text"
                readonly
            >
            <div class="right-arrow">
                <svg height="20" width="8">
                    <polygon points="0,6 4,14 8,6" style="fill:#000;" />
                </svg>
            </div>
        </div>

        <transition name="dropdown-fade">
            <div class="dropdown-elements-wrapper" v-show="dropdownShowFlag">
                <div
                    v-for="(categoryName, categoryNumber) in categoryNames"
                    :key="categoryName.name"
                    class="dropdown-element"
                    @click="changeCategory(categoryNumber)"
                    ref="dropdownElements"
                >
                    {{ categoryName.name }}
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        props: [ 'categoryNames' , 'galleryNumber' ],
        data() {
            return {
                currentCategory: undefined,
                dropdownShowFlag: false,
            }
        },
        methods: {
            documentClick({ target }) {
                if (this.isDropdownInput(target)) {
                    return
                }

                if (!this.isDropdownElement(target)) {
                    this.hideDropdownElements()
                    this.removeDropdownIsFocusedClass()
                }
            },
            isDropdownInput(target) {
                return target.classList.contains('dropdown-input')
            },
            isDropdownElement (target) {
                return target.classList.contains('dropdown-element')
            },
            changeCategory (selectedCategoryNumber) {
                this.setCurrentCategory(selectedCategoryNumber)

                this.removeActiveDropdownElementClass()
                this.addActiveDropdownElementClass(selectedCategoryNumber)

                this.removeDropdownIsFocusedClass()
                this.hideDropdownElements()

                this.$emit('galleryNumberHasChanged', selectedCategoryNumber)
            },
            toggleDropdownStatus () {
                this.dropdownShowFlag = !this.dropdownShowFlag
                this.$refs.dropdownInput.classList.toggle('dropdown-is-focused')
            },
            setCurrentCategory (selectedCategoryNumber) {
                this.currentCategory = this.categoryNames[selectedCategoryNumber].name
            },
            removeActiveDropdownElementClass () {
                this.$refs.dropdownElements[this.galleryNumber].classList.remove('active-dropdown-element')
            },
            addActiveDropdownElementClass (selectedCategoryNumber) {
                this.$refs.dropdownElements[selectedCategoryNumber].classList.add('active-dropdown-element')
            },
            removeDropdownIsFocusedClass () {
                this.$refs.dropdownInput.classList.remove('dropdown-is-focused')
            },
            hideDropdownElements () {
                this.dropdownShowFlag = false
            }
        },
        mounted() {
            document.addEventListener('click', this.documentClick)
            this.currentCategory = this.categoryNames[0].name

            this.$refs.dropdownElements[0].classList.add('active-dropdown-element')
        },
        destroyed () {
            document.removeEventListener('click', this.documentClick);
        }
    }
</script>

<style scoped lang="scss">

    .dropdown {
        position: relative;
        display: flex;
        justify-content: center;

        height: 25px;

        margin: 15px 0;
        text-align: center;
    }

    .dropdown-input-wrapper {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/

        width: 220px;

        border-bottom: 1px solid #000000;

    }

    .right-arrow {
        padding-right: 5px;
    }

    .dropdown-input {
        margin: 0 auto;
        /*padding-left: 4px;*/
        padding-bottom: 8px;

        box-sizing: border-box;
        width: 210px;
        height: 25px;

        border: none;
        border-bottom: 1px solid #000000;

        outline: none;

        font-family: ElegantLux-Mager, Times, serif;
        font-size: 18px;
        text-align: left;
    }

    .dropdown-elements-wrapper {
        position: absolute;
        font-size: 18px;
        box-sizing: border-box;

        width: 100%;

        top: -4px;
        left: -5px;

        display: flex;
        flex-direction: column;

        background: #FFFFFF;

        text-align: left;

        z-index: 10;
    }

    .dropdown-element {
        position: relative;

        margin: 0 auto 18px;

        width: 210px;
    }

    .active-dropdown-element:after {
        content: "";

        position: relative;

        top: 3px;

        display: block;

        margin: 0 auto;

        width: 100%;
        height: 1px;

        background-color: #000000;

        transition: transform .3s;
    }


    .dropdown-fade-enter-active, .dropdown-fade-leave-active {
        transition: opacity .29s;
    }
    .dropdown-fade-enter, .dropdown-fade-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;
        /*transform: translateY(50px);*/
    }

</style>
