<template>
    <section class="tab-wrapper">
        <app-select
            v-if="isMobileDevice()"
            :categoryNames="categoryNames"
            :galleryNumber="galleryNumber"
            @galleryNumberHasChanged="galleryNumber = $event"
        ></app-select>

        <app-buttons
            v-else
            :categoryNames="categoryNames"
            :galleryNumber="galleryNumber"
            @galleryNumberHasChanged="galleryNumber = $event"
        ></app-buttons>

        <app-tabs
            :categories="categories"
            :galleryNumber="galleryNumber"
        ></app-tabs>
    </section>
</template>

<script>
    import Buttons from "./Buttons";
    import Tabs from "./Tabs";
    import Select from "./Select";

    export default {
        components: {
            appButtons: Buttons,
            appSelect: Select,
            appTabs: Tabs
        },
        data() {
            return {
                galleryNumber: 0,
                categoryNames: [
                    {
                        id: '1',
                        name: 'Fotografia okolicznościowa'
                    },
                    {
                        id: '2',
                        name: 'Fotografia produktowa'
                    },
                    {
                        id: '3',
                        name: 'Fotografia wizerunkowa'
                    }
                ],
                categories: [
                    {
                        name: 'Fotografia okolicznościowa',
                        images: [
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            },
                            {
                                path: 'sydney.jpg',
                                alt: 'Fajerwerki'
                            }
                        ]
                    },
                    {
                        name: 'Fotografia produktowa',
                        images: [
                            {
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            },
                            {
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            },
                            {
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            },
                            {
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            },
                            {
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            },
                            {
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            },
                            {
                                path: 'gold-jewelry.jpg',
                                alt: 'Pierścionek'
                            }
                        ]
                    },
                    {
                        name: 'Fotografia wizerunkowa',
                        images: [
                            {
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            },
                            {
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            },
                            {
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            },
                            {
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            },
                            {
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            },
                            {
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            },
                            {
                                path: 'business-lady.jpg',
                                alt: 'Kobieta biznesu'
                            }
                        ]
                    }
                ]
            }
        },
        methods: {
            isMobileDevice() {
                const deviceWith = (window.innerWidth > 0) ? window.innerWidth : screen.width;
                return deviceWith < 750
            },
        }
    }
</script>
