<template>
    <transition-group name="faded" tag="div" class="transition-gallery-wrapper">
        <div
            v-for="(category, tabNumber) in categories"
            :key="category.name"
            ref="galleryWrappers"
            v-show="tabsVisibilityFlags[tabNumber]"
            class="gallery-wrapper"
        >
            <div class="images-wrapper">
                <div class="gallery-image-wrapper" v-for="image in category.images" :key="image.id">
                    <img
                        class="gallery-image"
                        :src="getImgUrl(image.path)"
                        :alt="image.alt"
                    >
                </div>
            </div>
        </div>
    </transition-group>
</template>

<script>
    export default {
        props: [ 'categories', 'galleryNumber' ],
        data() {
            return {
                tabsVisibilityFlags: {},
                previousCategoryNumber: 0
            }
        },
        watch: {
            galleryNumber: function () {
                this.removeActiveImageClass()
                this.addActiveImageClass()

                this.hidePreviousImage()
                this.showCurrentImage()

                this.previousCategoryNumber = this.galleryNumber
            }
        },
        methods: {
            getImgUrl (img) {
                const images = require.context('../../assets/', false, /\.jpg|png$/)

                return images('./' + img)
            },
            removeActiveImageClass () {
                this.$refs.galleryWrappers[this.previousCategoryNumber].classList.remove('active-gallery')
            },
            addActiveImageClass () {
                this.$refs.galleryWrappers[this.galleryNumber].classList.add('active-gallery')
            },
            hidePreviousImage () {
                this.tabsVisibilityFlags[this.previousCategoryNumber] = false
            },
            showCurrentImage () {
                this.tabsVisibilityFlags[this.galleryNumber] = true
            }
        },
        created(){
            let flagsInitialObject = {}

            for(let i = 0; i < this.categories.length; i++) {
                flagsInitialObject = {
                    ...flagsInitialObject,
                    ...{
                        [i]: false
                    }
                }
            }

            flagsInitialObject[0] = true

            this.tabsVisibilityFlags = flagsInitialObject
        },
    }
</script>

<style scoped lang="scss">
    $image-wrapper-width: 430px;

    .transition-gallery-wrapper {
        display: flex;
        justify-content: center;
    }

    .gallery-wrapper {
        position: absolute;

        overflow-y: scroll;

        height: 80vh;
    }

    .active-gallery {
        z-index: 5;
    }

    .images-wrapper {
        display: grid;
        grid-template-columns: repeat(3, $image-wrapper-width);
        grid-gap: 1vw;

        width: 100%;

        justify-content: space-between;

        padding: 1vw;

        background: #fff;
    }

    .gallery-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .faded-enter {
        opacity: 0;
        z-index: 5;
    }

    .faded-enter-active {
        z-index: 5;

        transition: opacity .29s;
    }

    .faded-leave {
        opacity: 1;
    }

    .faded-leave-active {
        opacity: 1;

        transition: .29s;
    }

    .gallery-image-wrapper {
        width: $image-wrapper-width;
        height: $image-wrapper-width/1.618;

        background: #CACACA;
    }

    @media (max-width: 1600px) {
        $image-wrapper-width: 27vw;

        .images-wrapper {
            grid-template-columns: repeat(3, $image-wrapper-width);
        }

        .gallery-image-wrapper {
            width: $image-wrapper-width;
            height: $image-wrapper-width/1.618;
        }
    }

    @media (max-width: 1000px) {
        $image-wrapper-width: 48vw;

        .images-wrapper {
            grid-template-columns: repeat(2, $image-wrapper-width);
        }

        .gallery-image-wrapper {
            width: $image-wrapper-width;
            height: $image-wrapper-width/1.618;
        }
    }

    @media (max-width: 600px) {
        $image-wrapper-width: 80vw;

        .images-wrapper {
            padding-top: 0;
            grid-template-columns: repeat(1, $image-wrapper-width);
        }

        .gallery-image-wrapper {
            width: $image-wrapper-width;
            height: $image-wrapper-width/1.618;
        }
    }

</style>
