<template>
    <section class="main-wrapper">
        <h1 class="main-title">Oferta</h1>

        <div v-for="offer in offers" :key="offer.id" class=offer-wrapper>
            <h2 class="offer-title">{{ offer.title }}</h2>

            <div class="offer-details">
                <div class="offer-image-wrapper">
                    <img :src="getImgUrl(offer.image.path)" :alt="offer.image.alt">
                </div>

                <div class="offer-description-wrapper">
                    <p>{{ offer.description }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: [ 'offers' ],
        methods: {
            getImgUrl (img) {
                const images = require.context('../../assets/', false, /\.jpg|png$/)

                return images('./' + img)
            }
        }
    }
</script>

<style lang="scss">

    .offer-wrapper {
        width: 100%;
    }

    .offer-image-wrapper {
        $offer-image-wrapper: 700px;

        width: $offer-image-wrapper;
        height: $offer-image-wrapper/1.618;

        background: #CACACA;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .offer-title {
        font-size: 21px;

        margin: 30px 0;

        text-align: center;
    }

    .offer-details {
        display: flex;

        flex-direction: row;
    }

    .offer-description-wrapper {
        width: 630px;

        margin: 0 auto;
    }

    @media (max-width: 1600px) {

        .offer-image-wrapper {
            $offer-image-wrapper: 44vw;

            width: $offer-image-wrapper;
            height: $offer-image-wrapper/1.618;
        }

        .offer-description-wrapper {
            width: 40vw;

            margin: 0 auto;
        }
    }

    @media (max-width: 1000px) {

        .offer-details {
            display: flex;

            flex-direction: column;
        }

        .offer-image-wrapper {
            $offer-image-wrapper: 65vw;

            width: $offer-image-wrapper;
            height: $offer-image-wrapper/1.618;

            margin: 0 auto 25px;
        }

        .offer-description-wrapper {
            width: 80vw;

            margin: 0 auto;
        }
    }

</style>
