<template>
    <div id="app" class="app-wrapper">
        <div class="desktop-app-wrapper">
            <transition name="fade">
                    <router-view/>
            </transition>
            <div class="nav-wrapper">
                <app-desktop-navigation></app-desktop-navigation>
            </div>
        </div>
        <app-mobile-navigation></app-mobile-navigation>
    </div>
</template>

<script>
    import DesktopNavigation from '@/components/DesktopNavigation'
    import MobileNavigation from '@/components/MobileNavigation'

    export default {
        components: {
            appDesktopNavigation: DesktopNavigation,
            appMobileNavigation: MobileNavigation
        }
    }

</script>

<style lang="scss">
    @font-face {
        font-family: ElegantLux-Mager;
        src: url('assets/fonts/ElegantLux-Mager.otf');
    }

    * {
        margin: 0;
        padding: 0;

        box-sizing: border-box;
    }

    body {
        font-family: ElegantLux-Mager, Times, serif;
    }

    a:link, a:visited, a:hover, a:active {
        color: #FFFFFF;
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    $app-wrapper-width: 1600px;

    .app-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: $app-wrapper-width;

        margin: 0 auto;
    }

    $main-wrapper-width: 1400px;

    .main-wrapper {
        position: relative;

        width: $main-wrapper-width;

        padding-bottom: 15vh;

        font-size: 18px;

        line-height: 1.4;
    }

    .desktop-app-wrapper {
        display: flex;

        flex-direction: row;

        width: 100%;
    }

    .nav-wrapper {
        position: sticky;
        width: $app-wrapper-width - $main-wrapper-width;
    }

    .row {
        display: flex;

        flex-direction: row;
    }

    .main-title {
        padding: 10px 0;
        margin: 0 125px 30px;

        border-bottom: 1px solid #cacaca;

        font-size: 24px;

        text-align: center;
    }

    .tac {
        text-align: center;
    }

    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity .22s;
    }

    .fade-leave-active {
        opacity: 0;
        position: absolute;

        transition: opacity .22s;
        transition-delay: .03s;
    }

    @media (max-width: 1600px) {

        .app-wrapper {
            width: 100%;
        }

        .main-wrapper {
            width: 87%;
        }

        .nav-wrapper {
            width: 13%;
        }
    }

    @media (max-width: 999px) {

        .main-wrapper {
            width: 100%;
        }

        .nav-wrapper {
            display: none;
        }
    }

    @media (max-width: 700px) {
        .main-title {
            margin-bottom: 0;
        }
    }

</style>
