<template>
    <div class="buttons-wrapper">
        <button
            type="button"
            class="slider-button"
            v-for="(categoryName, categoryNumber) in categoryNames"
            :key="categoryName"
            ref="sliderButtons"
            @click="changeCategory(categoryNumber)"
        >
            {{ categoryName }}
        </button>
    </div>
</template>

<script>
    export default {
        props: [ 'categoryNames', 'categoryNumber' ],
        methods: {
            changeCategory (selectedCategoryNumber) {
                this.removeActiveButtonClass()
                this.addActiveButtonClass(selectedCategoryNumber)

                this.$emit('categoryNumberHasChanged', selectedCategoryNumber)
            },
            removeActiveButtonClass () {
                this.$refs.sliderButtons[this.categoryNumber].classList.remove('active-button')
            },
            addActiveButtonClass (selectedCategoryNumber) {
                this.$refs.sliderButtons[selectedCategoryNumber].classList.add('active-button')
            }
        },
        mounted() {
            this.$refs.sliderButtons[0].classList.add('active-button')
        }
    }
</script>

<style scoped lang="scss">

    .buttons-wrapper {
        position: absolute;

        bottom: 0;

        display: flex;

        justify-content: center;

        width: 100%;

        background: rgba(0, 0, 0, 0.7);

        z-index: 5;
    }

    .slider-button {
        box-sizing: border-box;

        width: 210px;

        padding: 3px 0 6px 0;
        margin: 12px 0;

        border: none;

        background: rgba(0, 0, 0, 0);

        font-family: ElegantLux-Mager, Times, serif;
        font-size: 18px;
        color: #FFFFFF;

        cursor: pointer;
    }

    .slider-button:after, .active-button:after {
        content: "";

        position: relative;

        top: 5px;

        display: block;

        width: 25%;
        height: 1px;

        margin: 0 auto;

        background-color: #FFFFFF;

        transition: transform .3s;
    }

    .slider-button:hover:after {
        transform: scaleX(2);
    }

    .active-button:after, .active-button:hover:after {
        transform: scaleX(4);
    }

    @media (max-width: 999px) {
        .buttons-wrapper {
            top: 0;
            right:0;

            flex-direction: column;
            align-items: center;

            width: 150px;
        }

        .slider-button {
            width: 135px;
        }
    }

</style>
