<template>
    <div class="slider-wrapper">
        <slides
            :categoryImages="categoryImages"
            :categoryNumber="categoryNumber"
        >
        </slides>
        <buttons
            :categoryNames="categoryNames"
            :categoryNumber="categoryNumber"
            @categoryNumberHasChanged="categoryNumber = $event"
        >
        </buttons>
    </div>
</template>

<script>
    import Slides from "./Slides";
    import Buttons from "./Buttons";

    export default {
        props: [ 'categories' ],
        data () {
            return {
                categoryImages: {},
                categoryNames: {},
                categoryNumber: 0
            }
        },
        components: {
            slides: Slides,
            buttons: Buttons
        },
        created () {
            this.categoryImages = this.categories.map((category) => category.images[0])
            this.categoryNames = this.categories.map((category) => category.name)
        }
    }
</script>

<style scoped lang="scss">

    .slider-wrapper {
        $slider-width: 1400px;

        position: relative;

        width: $slider-width;
        height: $slider-width/2.5;

        background:#CACACA;
    }

    @media (max-width: 1600px) {
        .slider-wrapper {
            width: 100%;
        }
    }

</style>
