<template>
    <transition-group name="faded" tag="div" class="slides-wrapper">
        <img
            v-for="(image, imageNumber) in categoryImages"
            :key="image.path"
            class="slider-image"
            :src="getImgUrl(image.path)"
            :alt="image.alt"
            ref="sliderImages"
            v-show="slidesVisibilityFlags[imageNumber]"
        >
    </transition-group>
</template>

<script>
    export default {
        props: [ 'categoryImages', 'categoryNumber' ],
        data() {
            return {
                slidesVisibilityFlags: {},
                previousCategoryNumber: 0
            }
        },
        watch: {
            categoryNumber: function () {
                this.removeActiveImageClass()
                this.addActiveImageClass()

                this.hidePreviousImage()
                this.showCurrentImage()

                this.previousCategoryNumber = this.categoryNumber
            }
        },
        methods: {
            getImgUrl (img) {
                const images = require.context('../../assets/', false, /\.jpg|png$/)

                return images('./' + img)
            },
            removeActiveImageClass () {
                this.$refs.sliderImages[this.previousCategoryNumber].classList.remove('active-image')
            },
            addActiveImageClass () {
                this.$refs.sliderImages[this.categoryNumber].classList.add('active-image')
            },
            hidePreviousImage () {
                this.slidesVisibilityFlags[this.previousCategoryNumber] = false
            },
            showCurrentImage () {
                this.slidesVisibilityFlags[this.categoryNumber] = true
            }
        },
        created () {
            let flagsInitialObject = {}

            for(let i = 0; i < this.categoryImages.length; i++) {
                flagsInitialObject = {
                    ...flagsInitialObject,
                    ...{
                        [i]: false
                    }
                }
            }

            flagsInitialObject[0] = true

            this.slidesVisibilityFlags = flagsInitialObject
        }
    }
</script>

<style scoped lang="scss">

    .slides-wrapper, .slider-image{
        width: 100%;
        height: 100%;
    }

    .slides-wrapper {
        position: relative;
    }

    .slider-image {
        position: absolute;

        object-fit: cover;

        z-index: 1;
    }

    .active-image {
        z-index: 5;
    }

    .faded-enter {
        opacity: 0;
        z-index: 5;
    }

    .faded-enter-active {
        z-index: 5;

        transition: opacity .25s;
    }

    .faded-leave {
        opacity: 1;
    }

    .faded-leave-active {
        opacity: 1;

        transition: .25s;
    }

</style>
